@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  height: 8vh;
}

.button--purple {
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  opacity: 80%;
  border: none;
  color: white;
  padding: 1em 3em;
  cursor: pointer;
  box-shadow: 2px 2px 3px lightgrey;
  transition: all 200ms ease-in-out;
}

.button--purple:hover {
  filter: brightness(1.2);
  box-shadow: 2px 2px 3px #343333;
}

.restaurant--heart {
  transform: translate(-1.5em, 0.5em);
  transition: all 400ms ease-in-out;
}

.restaurant--heart:hover {
  background-clip: text;
  -webkit-text-fill-color: #9356DC;
  font-weight: bold;
  cursor: pointer;
}

.menu__picture {
  height: 35%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .menu__picture {
    height: 60vh;
  }
}

.loader {
  position: relative;
  transform: translate(45vw, 30vh);
}

.loader__spinner {
  position: absolute;
  visibility: hidden;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #99E2D0;
  border-bottom: 16px solid #FF79DA;
  border-left: 16px solid whitesmoke;
  width: 120px;
  height: 120px;
  animation-name: spin;
  animation: spin 3s ease-in-out;
  -webkit-animation: spin 3s ease-in-out;
}

@media (max-width: 992px) {
  .loader {
    transform: translate(30vw, 15vh);
  }
}

.loading-page {
  animation-name: loading;
  animation-duration: 3s;
}

.localization__text {
  display: flex;
  justify-content: center;
  padding: 2% 0;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  background-color: gainsboro;
  box-shadow: inset 0px 2px 3px #939393;
}

.localization p {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-right: 3em;
}

.localization i {
  padding-right: 3%;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 2.5em;
}

.reservation__text1 {
  margin: 0.5em 0;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.reservation__text2 {
  margin: 0.5em 0;
  padding-bottom: 1.5em;
  font-family: "Roboto", sans-serif;
}

.functioning {
  padding-bottom: 3em;
}

.functioning__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 2em 0em 0em 0em;
  margin-left: 5%;
}

.functioning-menu {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 25px 30px 25px 0px;
  font-size: 20px;
  border-radius: 25px 25px;
  box-shadow: 2px 2px 3px lightgrey;
  border: none;
  background-color: whitesmoke;
  width: 85%;
  margin: 1em 2% 1em 5%;
  transition: transform 300ms ease-in-out;
}

.functioning-menu:hover {
  transform: translate(2px, -5px);
  cursor: pointer;
}

.functioning--number {
  color: white;
  background-color: #9356DC;
  height: 30px;
  width: 30px;
  border-radius: 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 11px;
}

.functioning i {
  color: grey;
  margin-left: 20px;
}

.functioning__text {
  margin-left: 30px;
}

.functioning .functioning--logo {
  color: #9356DC;
}

.restaurants {
  background-color: whitesmoke;
  padding-bottom: 10%;
}

.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 2em 0em 0em 0em;
  margin-left: 5%;
}

.restaurant {
  position: relative;
  border-radius: 25px;
  box-shadow: 3px 3px lightgrey;
  width: 93vw;
  background-color: white;
  margin: 1.5em 3%;
  padding-bottom: 1em;
  transition: transform 300ms ease-in-out;
}

.restaurant:hover {
  transform: translate(2px, -5px);
  cursor: pointer;
}

.restaurant img {
  width: 93vw;
  height: 31vh;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.restaurant__text {
  margin: 3% 0% 1% 5%;
}

.restaurant__element1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.restaurant__element2 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 2%;
}

@media (min-width: 992px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants .restaurant {
    width: 40vw;
  }
  .restaurants img {
    width: 40vw;
    height: 35vh;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }
}

.restaurant--new {
  background: #99E2D0;
  width: 75px;
  text-align: center;
  color: #217460;
  padding: 1%;
  font-size: "Roboto", sans-serif;
  position: absolute;
  top: 8%;
  left: 75%;
  font-weight: 500;
}

.arrow--left {
  position: relative;
  right: 15vw;
}

.menus {
  position: relative;
  margin-top: -13%;
  background-color: whitesmoke;
  width: 90%;
  border-radius: 50px 50px 0px 0px;
  padding: 5% 5%;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}

.menus p {
  font-weight: lighter;
}

@media (min-width: 992px) {
  .menus {
    margin-top: -5%;
  }
}

.menu__title {
  font-family: "Shrikhand", cursive;
  padding-bottom: 0.5em;
}

.menu__title .restaurant--heart {
  position: absolute;
  left: 95%;
}

.menu {
  margin: 1.5em 0em;
  padding: 0.75em 1em;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px lightgrey;
  background-color: white;
  position: relative;
}

.menu__category {
  padding: 0.5em 0em;
}

.menu__line {
  border-bottom: #99E2D0 solid 3px;
  width: 2.5em;
}

.menu__meal {
  font-weight: bolder;
}

.menu__description {
  display: flex;
  justify-content: space-between;
  padding: 1% 0%;
}

.menu__icon {
  height: 100%;
  width: 4.5em;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 0%;
  border-radius: 0px 15px 15px 0px;
  visibility: hidden;
  transition: all 500ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}

.menu__icon i {
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 800ms ease;
}

.menu span {
  font-weight: bold;
  transition: all 1s ease;
}

.menu:hover .menu__icon {
  visibility: visible;
  transform: scaleX(1);
}

.menu:hover span {
  transform: translate(-100px);
}

.menu:hover i {
  transform: rotate(1turn);
}

.menu__button {
  padding: 5% 0%;
  display: flex;
  justify-content: center;
}

.loading__entrées {
  animation: menu;
  animation-duration: 800ms;
}

.loading__plats {
  animation: menu;
  animation-duration: 1600ms;
}

.loading__desserts {
  animation: menu;
  animation-duration: 2400ms;
}

footer {
  background-color: rgba(57, 57, 57, 0.975);
  color: white;
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-left: 5%;
  margin-bottom: 3%;
}

footer ul li {
  margin-right: 2%;
}

footer a {
  display: flex;
  margin: 1% 0 1% 5%;
  color: white;
}

footer i::before {
  content: "$0";
  position: absolute;
}

footer span {
  margin-left: 2em;
}

@media (min-width: 992px) {
  footer div {
    display: flex;
  }
}

@keyframes spin {
  0% {
    transform: scaleX(0) rotate(0turn);
    opacity: .1;
    visibility: visible;
  }
  17% {
    transform: rotate(1turn);
    transform-origin: center;
  }
  24% {
    transform: rotate(1.5turn);
  }
  46% {
    transform: rotate(2turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}

@keyframes loading {
  0%, 100% {
    visibility: hidden;
  }
}

@keyframes menu {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform-origin: left;
    visibility: visible;
    transition: all ease;
    transform: scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */