@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  height: 12vh;
}

.button--purple {
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  opacity: 80%;
  border: none;
  color: white;
  padding: 5% 10%;
  cursor: pointer;
}

.localization__text {
  display: flex;
  justify-content: center;
  padding: 2% 0;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  background-color: gainsboro;
  box-shadow: inset 0px 2px 3px #939393;
}

.localization p {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-right: 10%;
}

.localization i {
  padding-right: 3%;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 5%;
}

.reservation__text1 {
  margin: 1% 0;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.reservation__text2 {
  margin: 1% 0;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
}

.functioning {
  padding-bottom: 10%;
}

.functioning__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 5% 0 0 3%;
  margin-left: 5%;
}

.functioning .functioning--menu1 {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 25px 30px 25px 0px;
  font-size: 20px;
  border-radius: 25px 25px;
  box-shadow: 2px 2px 3px lightgrey;
  border: none;
  background-color: whitesmoke;
  width: 85%;
  margin: 5% 0 3% 5%;
}

.functioning--number {
  color: white;
  background-color: #9356DC;
  height: 30px;
  width: 30px;
  border-radius: 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 11px;
}

.functioning i {
  color: grey;
  margin-left: 20px;
}

.functioning__text {
  margin-left: 30px;
}

.functioning .functioning--logo {
  color: #9356DC;
}

#restaurants {
  background-color: whitesmoke;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 5% 0 0 3%;
  margin-right: 55%;
}

.restaurant {
  position: relative;
  border-radius: 25px;
  box-shadow: 3px 3px lightgrey;
  width: 91vw;
  background-color: white;
  margin: 5% 0%;
  padding-bottom: 0.5vh;
}

.restaurant a {
  text-decoration: none;
  color: inherit;
}

.restaurant img {
  width: 91vw;
  height: 28vh;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.restaurant__text {
  margin: 2% 0% 1% 5%;
}

.restaurant__element1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.restaurant i {
  margin-right: 10%;
  margin-top: 15px;
}

.restaurant__element2 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 2%;
}

.box__new {
  background: #99E2D0;
  width: 75px;
  text-align: center;
  color: #217460;
  padding: 1%;
  font-size: "Roboto", sans-serif;
  position: absolute;
  top: 8%;
  left: 70%;
  font-weight: 500;
}

footer {
  background-color: rgba(57, 57, 57, 0.975);
  color: white;
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-left: 5%;
  margin-bottom: 3%;
}

footer ul li {
  margin-right: 2%;
}

footer a {
  display: flex;
  margin: 1% 0 1% 5%;
  text-decoration: none;
  color: white;
}

footer span {
  margin-left: 3%;
}

footer .footer__space {
  margin-left: 4.5%;
}
/*# sourceMappingURL=main.css.map */