// Police Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
// Police Shrikhand
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// Aucune marge 
*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    max-width: 1530px;
}

a {
    text-decoration: none;
    color: inherit;
}