// Les variables de couleurs
    $color-primary:#9356DC;
    $color-secondary:#FF79DA;
    $color-tertiary:#99E2D0;
    $background:whitesmoke;
    $boxshadow:lightgrey;
// Les variables de polices 
    $font-title:'Shrikhand', cursive;
    $font-text:'Roboto', sans-serif;