//  Spinner

.loader {
    position:relative;
    transform: translate(45vw, 30vh);

    &__spinner {
    position:absolute;
    visibility: hidden;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $color-primary;
    border-right: 16px solid $color-tertiary;
    border-bottom: 16px solid $color-secondary;
    border-left: 16px solid $background;
    width: 120px;
    height: 120px;
    animation-name: spin;
    -webkit-animation-name:spin;
    -moz-animation-name: spin;
    animation: spin 3s ease-in-out;
    -webkit-animation: spin 3s ease-in-out;
    -moz-animation:spin 3s ease-in-out;
  }
  
}

@media (max-width: 992px) {
    .loader {
        transform: translate(32vw, 15vh);
    }
}

// Chargement de la page 

.loading-page {
    animation-name:loading;
    -webkit-animation-name: loading;
    -moz-animation-name: loading;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
}

// Conteneur localisation
.localization {
    &__text {
        @include flex-row-center;
        padding:2% 0;
        font-family: $font-text;
        font-weight:bolder;
        background-color:darken($color: $background, $amount: 10%);
        box-shadow:inset 0px 2px 3px darken($boxshadow, $amount:25%);
    }
    
    p {
        @include flex-row-center;
        width: 80%;
        margin-right:3em;
    }
    i {
        padding-right: 3%;
    }
}

// Conteneur réservation
.reservation {
   @include flex-col-center;
    text-align: center;
    background-color:$background;
    padding-bottom:2.5em;
    &__text1 {
        margin: 0.5em 0;
        font-family: $font-text;
        font-weight: bolder;
    }
    &__text2 { 
        margin: 0.5em 0;
        padding-bottom:1.5em;
        font-family: $font-text;
    } 
}


// Section qui comprend la partie fonctionnement
.functioning {
    padding-bottom:3em;
    &__title {
        @include police-title--bolder;
        padding: 2em 0em 0em 0em;
        margin-left:5%;
    }

    &-menu {
        display: flex;
        align-items: center;
        @include police-title--bolder;
        padding:25px 30px 25px 0px;
        font-size: 20px;
        border-radius:25px 25px;
        box-shadow: 2px 2px 3px $boxshadow;
        border: none;
        background-color:$background;
        width: 85%;
        margin:1em 2% 1em 5%;
        transition:all 300ms ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: lighten($color-primary, $amount: 35);
        }
    }
}

.functioning--number {
    color:white;
    background-color: $color-primary;
    height:30px;
    width: 30px;
    border-radius: 25px 25px;
    @include flex-row-center;
    align-items: center;
    position:relative;
    right:11px;
}



.functioning{
    i{
        color:grey;
        margin-left:20px;
    }
    &__text {
        margin-left: 30px;;
    }
    .functioning--logo {
        color: $color-primary;
    }
}

@media (min-width: 992px) {
    .functionning-container {
        display: flex;
    }
}

// Section qui comprends la partie restaurants
.restaurants {
    background-color:$background;
    padding-bottom: 10%;
}

.restaurants__title {
    @include police-title--bolder;
    padding: 2em 0em 0em 0em;
        margin-left:5%;
}

.restaurant {
    position:relative;
    border-radius: 25px;
    box-shadow: 3px 3px $boxshadow;
    width: 93vw;
    background-color: white;
    margin:1.5em 3%;
    padding-bottom: 1em;
    transition: transform 300ms ease-in-out;
    &:hover {
        transform: translate(2px, -5px);
        cursor: pointer;
    }

    img {
        width:93vw;
        height:31vh;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }

    &__text {
        margin:3% 0% 1% 5%;
    }

    &__element1 {
        @include police-title--bolder;
        @include flex-row-center;
        justify-content: space-between;
    }
    
    &__element2 {
        font-family: $font-text;
        padding-bottom: 2%;
    }
}
    
@media (min-width: 992px) {
    .restaurant-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    .restaurant {
        width: 40vw;
    }
    
    img {
        width:40vw;
        height:30vh;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }

    }
}
    
// Logo qui comprends le texte Nouveau 
.restaurant--new {
    background:$color-tertiary;
    width: 75px;
    text-align: center;
    color: darken($color: $color-tertiary, $amount: 45);
    padding:1%;
    font-family: $font-text;
    position: absolute;
    top:8%;
    left:75%;
    font-weight: 500;
}