// Flêche retour
.arrow--left {
    position: relative;
    right:15vw;
}

// Section qui comprends tous les menus
.menus {
    position: relative;
    margin-top: -13%;
    background-color:$background;
    width: 90%;
    border-radius: 50px 50px 0px 0px;
    padding:5% 5%;
    z-index: 2;
    font-family: $font-text;
    p {
        font-weight: lighter;
    }
}

@media (min-width: 992px) {
    .menus {
        margin-top:-5%;
    }
}
    


.menu__title {
    font-family: $font-title;
    padding-bottom: 0.5em;

.restaurant--heart {
    position: absolute;
    left:95%;
}
}

// Conteneur qui comprends de l'interface des plats
.menu {
   margin:1.5em 0em; 
   padding:0.75em 1em;
   border-radius: 15px 15px 15px 15px;
   box-shadow: 3px 3px $boxshadow;
   background-color: white;
   position: relative;
   font-size:0.8em;
   &:hover {
       cursor: pointer;
   }

   &__category {
       padding:0.5em 0em;
   }

   &__line {
       border-bottom: $color-tertiary solid 3px;
       width: 2.5em;
   }

    &__meal {
        font-weight:bolder;
    }

    &__description {
        @include flex-row-space;
        padding: 1% 0%;
    }

    &__icon {
        height:100%;
        width:3.5em;
        background-color:$color-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        right:0%;
        top:0%;
        border-radius: 0px 15px 15px 0px;
        visibility: hidden;
        transition: all 500ms ease-in-out;
        transform: scaleX(0);
        transform-origin: right;

        .menu--icon {
            color:$color-tertiary;
            background-color: white;
            border-radius: 50%;
            width:25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 800ms ease;
        }
    }

    span {
        font-weight: bold;
        transition: all 800ms ease;
    }
}

@media (min-width: 992px) {

    .menu-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu {
        font-size: 1em;
        width: 45%;
    }
}

// Icone visible lorsque qu'on survol le menu et il se déplace 
.menu {
    &:hover .menu__icon {
        visibility: visible;
        transform: scaleX(1);
    }

// Déplacement du prix au suvol du menu 
    &:hover span {
        transform: translate(-3.5em);
    }

    &:hover .menu--icon {
        transform: rotate(1turn);
    }
}

.menu__button {
    padding:5% 0%;
    @include flex-row-center;
}

// Chargements des plats en fonction des groupes 

.loading__entrées {
    animation: menu 1000ms ease-in-out;
}

.loading__plats {
    animation: menu 2000ms ease-in-out;
}
  

.loading__desserts {
    animation: menu 3000ms ease-in-out;
}
