// Animation du loader spinner 
@keyframes spin {
    0% { 
        transform:scaleX(0) rotate(0turn);
        opacity: .1;
        visibility:visible;
     }

     17% {
        transform:rotate(1turn);
        transform-origin: center;
    }
    24% {
        transform:rotate(1.5turn);
    }
    46% {
        transform:rotate(2turn);
    }
   
    100% {
        transform:rotate(-1turn);
    }

}

// Chargement de la page d'acceuil
@keyframes loading {
    0%,100% {
        visibility: hidden;
    }
}

// Apparition des meunus par groupe
@keyframes menu {
    0% {
          visibility:hidden;
          opacity: 0;
          transform: scale(0);
          transform-origin: left;
      }

    50% {
    visibility: hidden;
    }

    100% {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}