// Bouton principal 
.button--purple {
    border-radius:25px 25px 25px 25px;
    background: linear-gradient($color-secondary, $color-primary);
    font-family: $font-text;
    opacity: 80%;
    border: none;
    color: white;
    padding: 1em 3em;
    cursor: pointer;
    box-shadow: 2px 2px 3px $boxshadow;
    transition: all 200ms ease-in-out;
    &:hover {
        filter: brightness(1.2);
        box-shadow: 2px 2px 3px rgb(52, 51, 51);
    }
}

// Bouton coeur 
.restaurant--heart {
    transform:translate(-1.5em, 0.5em) scale(1, 1);
    transition:all 400ms ease-in-out;
    transform-origin: bottom;
 // Le coeur se remplit au survol et s'élargit
    &:hover {
    background-clip:text;
    -webkit-text-fill-color:$color-secondary;
    font-weight: bold;
    cursor: pointer;
    transform:translate(-1.5em, 0.5em) scale(1.2, 1.2);
    }
 }