// Bouton principal 
.button--purple {
    border-radius:25px 25px 25px 25px;
    background: linear-gradient($color-secondary, $color-primary);
    font-family: $font-text;
    opacity: 80%;
    border: none;
    color: white;
    padding: 1em 3em;
    cursor: pointer;
    box-shadow: 2px 2px 3px $boxshadow;
    transition: all 200ms ease-in-out;
    &:hover {
        filter: brightness(1.2);
        box-shadow: 2px 2px 3px rgb(52, 51, 51);
    }
}

// Bouton coeur 
.restaurant--heart {
    transform:translate(-0.8em, 0.2em) scale(1, 1);
    transition:all 300ms linear;
    transform-origin: bottom;
 // Le coeur se remplit au survol et s'élargit
    &:hover {
        background-clip:text;
        color:darken($color-primary, $amount: 25)+ darken($color-secondary, $amount: 50);
        font-weight: bolder;
        cursor: pointer;
        transform:translate(-0.8em, 0.2em) scale(1.2, 1.2);
    }
 }