footer {
    background-color: rgba(57, 57, 57, 0.975);
    color:white;
    padding: 5% 0;
    font-family: $font-text;

    h3 {
        font-family: $font-title;
        font-weight: 100;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    ul {
        li {
            margin-right: 2%;
        }
    }

    a {
        display:flex;
        margin:1% 0 1% 5%;
        color:white;
    }

    i::before {
        content: "$0";
        position:absolute;
    }

    span {
        margin-left:2em;
    }
}

@media (min-width: 992px) {
    footer {
        div {
            display: flex;
        }
    }
}